* {
    margin: 0;
    padding: 0;
}
body{
    width: 1400px;
    margin: 0 auto;
}
ul{
    list-style: none;
}

.loader{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    font-size: 50px;
    font-weight: bold;
  
}
.movies{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    margin: 50px 0;
}
.movie{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.movie img{
    max-width: 100%;
    width: 100%;
    top: 50px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.movie__data{
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    padding: 30px;
    
}
.movie__data h3{
    font-size: 30px;
    margin-top: 10px;
}
.movie__data .genres{
    display: grid;
    grid-auto-flow: column;
    color: #f77575;
    margin: 15px 0;
}
.movie__data p{
    text-overflow: ellipsis;
    width: 100%;
    height: 150px;
    overflow: hidden;
}
