.nav {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  font-size: 40px;
  line-height: 80px;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: #333;
}
a:hover{
  color: #fff;
}